<!-- templates/pasta_orcamentos/_tabela_orcamentos.html.jinja -->
<div id="tabela-container" data-url-refresh="{{ url_for('orcamentos.ini_orcamento') }}">
    <div class="table-responsive">
        <table class="custom-table">
            <thead>
                <tr>
                    <th style="width: 60px;">#</th>
                    <th style="width: 25%;">Título</th>
                    <th style="width: 20%;">Cliente</th>
                    <th style="width: 15%;">Status</th>
                    <th style="width: 15%;">Data</th>
                    <th style="width: 25%; text-align: center;">Ações</th>
                </tr>
            </thead>
            {% include 'pasta_orcamentos/partials/_tbody_orcamentos.html.jinja' %}
        </table>
    </div>
</div>