<div id="modalExcluirFinancas" class="modal-overlay-excluir">
    <div class="modal-box-excluir">
        <h3 id="modalExcluirTitulo">Inativar Transação</h3>
        <p id="modalExcluirTexto">Tem certeza que deseja inativar esta transação?</p>
        <div class="modal-actions-excluir">
            <button id="btnCancelarExcluirFinancas" class="btn-cancelar-excluir">Cancelar</button>
            <button id="btnConfirmarExcluirFinancas" class="btn-confirmar-excluir">Sim, inativar</button>
        </div>
    </div>
</div>