<div id="modalEstornar" class="modal-overlay-estornar">
    <div class="modal-box-estornar">
        <h3 id="modalEstornarTitulo">⚠️ Estornar Transação</h3>
        <p id="modalEstornarTexto">Tem certeza que deseja estornar esta transação?</p>
        <div class="modal-actions-estornar">
            <button id="btnCancelarEstornar" class="btn-cancelar-estornar">Cancelar</button>
            <button id="btnConfirmarEstornar" class="btn-confirmar-estornar">Confirmar Estorno</button>
        </div>
    </div>
</div>