<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_tela_inicial/import_todas_css.css') }}">
    <title>EVOLUÇÃO FINANÇAS</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <section class="container_menu">
        <nav class="menu">
            
            <a href="{{ url_for('login.validar_login') }}">Entrar</a>
            <a href="{{ url_for('cadastre_se.tela_cadastre_se') }}">Cadastre-se</a>
            

        </nav>
    </section>


    <h1>SITE EM DESENVOLVIMENTO - PROJETO FINANÇAS ESCOLAR</h1>
</body>
</html>