<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_tela_pos_login/import_todas_css.css') }}">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    <h1>Bem vindo {{ user_nome }}, ao Sistema de Gestão de Finanças!</h1>
    <nav class="nav_menu">
        <div class="div_nav_menu">
            <a href="{{ url_for('pos_login.logout') }}" class="menu_a">🚪 SAIR</a>
            <a href="{{ url_for('financas.inifinancas') }}" class="menu_a">💵 FINANÇAS</a>
            <a href="{{ url_for('tarefas.initarefas') }}" class="menu_a">✍️ TAREFAS</a>
            <a href="{{ url_for('dashboard.inidashboard') }}" class="menu_a">📊 DASHBOARD</a>
            <a href="{{ url_for('config.iniconfig') }}" class="menu_a">⚙️ CONFIGURAÇÕES</a>
        </div>
    </nav>

</body>
</html>