<!-- templates\pasta_financas\_tabela_financas.html -->
<!-- TABELA -->
<div id="tabela-container" data-url-refresh="{{ url_for('financas.ini_financas') }}">
    <div class="painel-tabela-conteudo scroll-fino">
        <div class="table-responsive">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th style="width: 65px;">SEQ</th>
                        <th style="width: 100px;">TIPO</th>
                        <th style="width: 120px;">VALOR</th>
                        <th>DESCRIÇÃO</th>
                        <th style="width: 110px;">STATUS</th>
                        <th style="width: 130px;">CATEGORIA</th>
                        <th style="width: 105px;">EMISSÃO</th>
                        <th style="width: 105px;">VENCIMENTO</th>
                        <th style="width: 145px; text-align: center;">AÇÕES</th>
                    </tr>
                </thead>
                {% include 'pasta_financas/partials/_tbody_transacoes.html.jinja' %}
            </table>
        </div>
    </div>
</div>