<!-- templates/pasta_tarefas/modais/reabrir_tarefa.html -->
<div class="modal-confirmacao-overlay"
     id="modalReabrirTarefa">

    <div class="modal-confirmacao-box confirmar-estornar">
        <h3 id="modalReabrirTitulo">↩️ Reabrir Tarefa</h3>
        <p id="modalReabrirTexto">Tem certeza?</p>

        <div class="modal-confirmacao-actions">
            <button type="button"
                    id="btnCancelarReabrirTarefa"
                    class="btn-confirmacao-cancelar">
                Cancelar
            </button>
            <button type="button"
                    id="btnConfirmarReabrirTarefa"
                    class="btn-confirmacao-confirmar">
                Reabrir
            </button>
        </div>
    </div>
</div>