<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_base_pre_acesso/base_pre_acesso.css') }}">

    {% block styles %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Botão Hambúrguer (Apenas Mobile) -->
    <button class="menu-toggle" aria-label="Abrir menu" onclick="toggleMenu()">
        ☰
    </button>

    <!-- Camada de fundo escuro ao abrir o menu no mobile -->
    <div class="sidebar-overlay" onclick="toggleMenu()"></div>

    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo">
                <a href="#">LOGO VITOR</a>
                <!-- Botão para fechar dentro do menu mobile -->
                <button class="menu-close" onclick="toggleMenu()">✕</button>
            </div>
            <ul>
                <li>
                    <a href="{{ url_for('login.validar_login') }}"
                    class="{{ 'active' if request.endpoint == 'login.validar_login' }}">
                        🔑 LOGIN
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('cadastre_se.tela_cadastre_se') }}"
                    class="{{ 'active' if request.endpoint == 'cadastre_se.tela_cadastre_se' }}">
                        👤 CADASTRE-SE
                    </a>
                </li>
            </ul>


            <div class="sidebar-footer">
                <ul>
                    <!-- <li>
                        <a href="{{ url_for('ini_app') }}"
                        class="{{ 'active' if request.endpoint == '#ini_app' }}">
                            🏠 Início
                    </li>

                    <li><a href="#sobre"
                         class="{{ 'active' if request.endpoint == '#sobre' }}">
                            👨‍💻 Sobre
                        </a>
                    </li>

                    <li><a href="#contato"
                         class="{{ 'active' if request.endpoint == '#contato' }}">
                            📞 Contato
                        </a>
                    </li> -->

            </div>

        </aside>







        <!-- Conteúdo principal -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Rodapé -->
    <footer class="footer">
        <p>© Vhorganiza - Sistema de Tarefas e Finanças</p>
    </footer>

    <!-- Script de controle do menu -->
    <script>
        function toggleMenu() {
            document.body.classList.toggle('menu-active');
        }
    </script>

    <!-- Igual ao block styles, aceita qualquer arquivo ou código JS das telas filhas -->
    {% block scripts %}{% endblock %}
</body>

</html>
