<!-- templates/pasta_orcamentos/modals/modal_reativar_orcamento.html.jinja -->
<div class="orc-modal-overlay-reativar" id="modalReativarOrcamento">
    <div class="orc-modal-box-reativar">
        <span class="orc-modal-reativar-icon">
            <i class="bi bi-arrow-repeat"></i>
        </span>
        <h3 class="orc-modal-reativar-title" id="modalReativarTitulo">Reativar orçamento</h3>
        <p class="orc-modal-reativar-message" id="modalReativarTexto">
            Deseja reativar o orçamento <strong id="nomeOrcamentoReativar"></strong>?
        </p>
        <div class="orc-modal-reativar-footer">
            <button type="button" id="btnCancelarReativarOrcamento">Cancelar</button>
            <button type="button" id="btnConfirmarReativarOrcamento">
                <i class="bi bi-arrow-repeat"></i> Reativar
            </button>
        </div>
    </div>
</div>