.tabela-container {
    max-width: 1200px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
}

.tabela-container .titulo {
    background-color: yellow;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.tabela-container table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Profissional */
    background-color: yellowgreen;
}
